amadeus==9.0.0
beautifulsoup4==4.11.1
gpt3_tokenizer==0.1.4
huggingface_hub==0.20.1
jsonlines==2.0.0
langchain==0.0.353
lorem==0.1.1
matplotlib==3.8.0
mysql_connector_repackaged==0.3.1
numpy==1.24.3
openai==0.28.0
pandas==2.1.4
peft==0.5.0
pexpect==4.8.0
psutil==5.9.0
pydantic==1.10.12
pylovepdf==1.3.2
python_dateutil==2.8.2
regex==2023.8.8
Requests==2.31.0
serpapi==0.0.1
SPARQLWrapper==2.0.0
SPARQLWrapper==2.0.0
termcolor==2.4.0
torch==1.13.1
tqdm==4.64.1
transformers==4.37.0.dev0
wolframalpha==5.0.0
zmail==0.2.8
